<%- include('../../partials/header.ejs') %>

    <body>
        <header>
            <%- include('../../partials/navbar-users.ejs') %>
        </header>


        <div class="container">
            <hr>
            <div class="card m-auto" style="width: 500px">

                <div class="card-header">
                    <h2 class="text-center">Cadastro de novo usuário</h2>
                </div>

                <div class="card-body">

                    <form action="/users/create" method="POST">
                        <input type="email" class="form-control mb-3" name="email" placeholder="Email para cadastro"
                            required="required">

                        <input type="password" class="form-control mb-3" name="password"
                            placeholder="Senha para cadastro" required="required">

                        <button class="btn btn-success btn-block">Cadastrar</button>
                    </form>

                </div>

            </div>


        </div>
    </body>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>

    </html>